.App {
  height: 100vh;
  background: #130e1b;
  background: radial-gradient(circle, #0d0a12 400px, black 100%);
}

.canvas {
  height: 100%;
  width: 100%;
}


.dadad {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #191323 400px, black 100%);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvasnoise {
  position: absolute;
  z-index: 99;
  height: 500px;
  width: 500px;
  pointer-events: none;
  display: none;
}

.upload {
  position: absolute;
  z-index: 9;
}